body {
    background-color: ##f5f6fa;
}

* {
    font-family: 'Roboto';
}

.Application { 
    top:0;
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center; 
    margin-top:50px; 
    -webkit-border-radius: 55px;
-moz-border-radius: 55px;
border-radius: 55px;
background-color:#f5f6fa;
}

.ApplicationMenuHeader {
    width: 200px;
    height:500px;
}

.ApplicationMenuHeader li {
    list-style: none;
}

.ApplicationMain {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

#infos{
    margin-left:110px;
}

#buttons {
    display: flex;
    flex-direction: column;
}

.preventDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.listPrevent li {
    list-style: none;
}

.Scene {
    display: flex;
    flex-direction: column;
}